.task-item {
    background-color: #ff8a5c;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.task-image {
    max-height:150px;
}

.task-image-checked {
    max-height: 150px;
}

.task-delete {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
}

.fa-trash-alt:hover {
    color:#fcf9ea;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 800px) {
    .task-form-page {
        margin-left: -4rem;
        margin-right: -3rem;
    }

}

/*  Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .task-image {
        max-height: 14rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .task-image {
        max-height: 14rem;
    }
}