.landing-page {
    margin-top: 2rem;
    margin: 5rem 5rem;
}

.landing-page-header {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    background-color: #ff8a5c;
    padding: 15px;
}

.description {
    line-height: 2rem;
    background-color: #badfdb;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

.slogan {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
}

.link-to-app {
    font-family: 'Acme', sans-serif;
}

.children-play {
    max-width: 335;
}