.side-page-nav {
    position: fixed;
    top: 86px;
    left: 3px;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-right: 18rem;
}

.add-task-link {
    margin-bottom: 6px;
}

.side-button {
    background: none;
    box-shadow: none;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border: 0.1em solid #0f4c75;
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#fcf9ea;
    background-color:#0f4c75;
    text-align:center;
    transition: all 0.2s;
    }

.side-button:hover{
    background-color:#fcf9ea;
    color: #ff8a5c;
    border: 0.1em solid
    }