.toggle-save {
    background: none;
    box-shadow: none;
    display:inline-block;
    border: 0.1em solid #0f4c75;
    border-radius:2rem;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#fcf9ea;
    background-color:#0f4c75;
    text-align:center;
    transition: all 0.2s;
}

.toggle-save:hover {
    background-color:#fcf9ea;
    border-color: #ff8a5c;
    color: #ff8a5c;
}

.toggle-saved {
    background: none;
    box-shadow: none;
    display:inline-block;
    border: 0.1em solid #ff8a5c;
    border-radius:2rem;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#fcf9ea;
    background-color:#ff8a5c;
    text-align:center;
    transition: all 0.2s;
}

.edit-form-container {
    margin-bottom: 1rem;
}

label {
    font-family: 'Acme', sans-serif;
}

input {
    box-shadow: none;
    border-radius: 2rem;
    border: 2px solid #ff8a5c;
    height: 6px;
}

input, .toggle-save, .toggle-saved {
    padding: 20px;
    margin: 20px;
}

/*  Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .edit-form {
        margin-left: 44rem;
        margin-right: 44rem;
    }
}

